.active-listener-header {
    margin: .7rem;
    text-align: center;
}

.active-listener-cards {
        display: flex;
        padding: .3rem;
        flex-direction: column;
        gap: 0.6rem;
        align-items: center;
}

@media (max-width: 600px) {
    .active-listener-cards {
        align-items: center;
        justify-content: center;
    }
}