.active-listener-header {
  margin: 0.7rem;
  text-align: center;
}

.active-listener-cards {
  display: flex;
  padding: 0.3rem;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
}

@media (max-width: 600px) {
  .active-listener-cards {
    align-items: center;
    justify-content: center;
    /* gap:0.2rem; */
  }
}
.active-listener-container {
  /* flex create a box, easy to manage */
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left:50%;
}

/* .active-listener-card {
} */

.listener-card-container {
  display: flex;
  border-style: solid;
  border-color: black;
  border-radius: 1rem;
  border-width: 2px;
  gap: 0.9rem;
  align-items: center;
  /* align-content: center; */
  background-color: lightgreen; 
  /* justify-content: space-around; */
  padding-left: 10px;
  padding-right: 1px;
}

.listener-card-status {
  border-style: solid;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 0.3rem;
}

.listener-card-album-art {
  border-radius: 0.5rem;
  min-height: 50px;
  max-width: 50px;
}

.listener-card-name {
  margin: 5px 0px;
  font-family: none;
  font-size: small;
}

.listener-card-song {
  margin: 1px 0px;
  font-family: none;
  font-weight: bold;
}

.listener-card-artist {
  margin: 1px 0px;
  font-family: none;
  font-size: small;
}

.listener-card-spotify {
  height: 30px;
  width: 30px;
}

.listener-card-spotify-container {
  position: absolute;
  left: 88%;
}
