.listener-card-container {
        display: flex;
        border-style: solid;
        border-color: #b39ddb;
        border-radius: 1rem;
        border-width: 2px;
        gap: .9rem;
        align-items: center;
        background-color: #e6e6fa;
        /* background-color: lightgray; */
        padding-left: 10px;
        padding-right: 12px;
        min-width: 0;
        max-width: 500px;
        position: relative;
        box-sizing: border-box;
        margin-left: 12px;
        margin-right: 12px;


@media (max-width: 600px) {
    .listener-card-container {
        margin-left: 45px;
        /* Adjust this value to move the right edge further left */
        margin-right: 14px; /* <--- Increase this to move card left */
        /* Adjust width to match new margin */
        width: calc(100vw - 46px); /* 14px left + 32px right */
        max-width: 100vw;
    }
}
}

.listener-card-status {
    border-style: solid;
    border-radius: .5rem;
    box-sizing: border-box;
    padding: .3rem;
}

.listener-card-album-art {
    border-radius:.5rem;
    min-height: 50px;
    max-width: 50px;
}

.listener-card-name {
    margin:5px 0px;
    font-family: none;
    font-size:small;
}

.listener-card-song {
    margin:1px 0px;
    font-family: none;
    font-weight: bold;
}

.listener-card-artist {
    margin:1px 0px;
    font-family: none;
    font-size:small;
} 

.listener-card-spotify {
    height:30px;
    width: 30px;
}

.listener-card-spotify-container {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

