.listener-card-container {
    display: flex;
    border-style: solid;
    border-color: black;
    border-radius: 1rem;
    border-width: 2px;
    gap: 1rem;
    align-items: center;
    background-color: rgb(204, 203, 203);
    justify-content: space-around;
}

.listener-card-status {
    border-style: solid;
    border-radius: .5rem;
    box-sizing: border-box;
    padding: .3rem;
}

.listener-card-album-art {
    min-height: 50px;
    max-width: 50px;
}